@tailwind base;
@tailwind components;
@tailwind utilities;
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  animation: twinkle 5s infinite;
}

.star.light {
  background-color: rgb(51, 90, 55);
}

.star.dark {
  background-color: rgb(79, 255, 103);
}

@keyframes twinkle {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
